@font-face {
    font-family: JustMyType;
    src: url(./fonts/just-my-type-font/JustMyType.ttf)
}

@font-face {
    font-family: PressStart;
    src: url(./fonts/press-start-font/PressStart.ttf)
}

@font-face {
    font-family: PrincessSavesYou;
    src: url(./fonts/princess-saves-you-font/PrincessSavesYou.ttf)
}

body {
    background-color: #8c28ae;
}

button {
    background-color: #8c28ae;
    padding: 10px 35px 10px 35px;
    margin: 55px 10px 55px 10px;
    box-shadow: 5px 5px 2px #595959;
    border: 2px solid black;
    border-radius: 5px;
}

h1 {
    font-family: JustMyType;
    font-size: 70px;
    margin-bottom: 2.5%;
}

h3 {
    font-family: JustMyType;
    font-size: 40px;
}

p {
    font-family: PrincessSavesYou;
}

img {
    height: 40px;
    width: 40px;
    filter: invert(100%);
}


.text {
    color:azure;
    text-align: center;
}

.app-container {
    display: flex;
    flex: 0 25 auto;    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 15px;
    height: 200px;
}

.title-container {
    width: 60%;
    min-width: 40%;
}

.counter-container {
    margin-top: 10px;
    width: 80%;
    min-width: 10%;
}

.counter-container p {
    font-family: PressStart;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.button-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

button:hover{
    background-color: #461457;
}